body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    margin: 30px;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

h1, h2 {
    color: #fff;
}

form {
    margin-top: 20px;
}

input[type="text"],
textarea {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

input[type="checkbox"] {
    margin: 10px 0;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

p.error {
    color: #d9534f;
    margin-top: 10px;
}

p {
    color: #ccc;
    line-height: 1.5;
}

