body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
        }

        nav {
            background-color: #333;
            color: #fff;
            padding: 1em;
        }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        nav li {
            margin-right: 1em;
        }

        nav a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            transition: color 0.3s ease;
        }

        nav a:hover {
            color: #ffd700;
        }

        .content {
            padding: 20px;
        }

.divtest {
	background-color: purple;
	color: white;
	text-align: center;
	}
.test-block {
    width:200px;
    border:2px solid rgba(71,236,30,1);
    background: rgba(71,236,30,0.7);
    text-align: center;
    color: #000;
    padding:20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
p {
  font-size: 20px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  background-color:"#FFF000";
}

th:hover {background-color: #D6EEEE;}
#leftim {
float: right;
margin: 0 0 0 15px;
}

#rightim {
float: left;
margin: 0 15px 0 0;
}
